.head{height: 300px;
    width: 300px;
    background-color: blueviolet;
    position: relative;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

    @keyframes slide {
        
    
        0%{
            left: 0px;
            top:0px;

        }
        25%{
            top:0;
            left:600px;
        }
        50%{ 
            top:600px;
            left:600px;
         }
         75%{
            top:600px;
            left:0px;
         }
         100%{
            top:0px;
            left:0px;
         }
    }
    


